.mincho {
  font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3',
    'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;
}

body,
html {
  width: 100%;
  height: 100%;
}

.brand {
  @extend .mincho;

  font-size: 4rem;
  margin-top: 30px;
  margin-bottom: 10px;
}
